// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700|Open+Sans&display=swap');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background: $body-bg !important;
}

.welcome-text {
    text-align: center;
}

table  {
    text-align: center;
}

.cap-first {
    text-transform: capitalize;
}




