.bg-obj {
    position: absolute;
    background: $secondary;
}

.shape {
    top: -250px;
    right: -275px;
    border-radius: 30%;
    width: 50%;
    height: 800px;
    transform: skew(3deg, 36deg);
    opacity: 0.7;
    z-index: 0;
}

.left-side-shape {
    top: -400px;
    left: -600px;
    border-radius: 30%;
    width: 50%;
    height: 800px;
    transform: skew(3deg, 36deg);
    opacity: 0.2;
}

.big-circle {
    top: -400px;
    left: -350px;
    border-radius: 100%;
    width: 900px;
    height: 900px;
    opacity: 0.4;
}

.right-side-circle {
    top: 500px;
    right: 350px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    opacity: 0.8;
}

.small-circle {
    top: 250px;
    left: 400px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    opacity: 0.8;
}


@media only screen and (max-width : 450px) {

    .small-circle{
        display: none;
    }

    .right-side-circle{
        display: none;
    }

    .left-side-shape{
        display: none;
    }

    .shape{
        display: none;
    }

    .big-circle{
        transform: translate(-50%, -115%);
        top: 40%;
        left: 50%;
        opacity: 0.6;
    }
}
