// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background: $body-bg !important;
}

.welcome-text {
    text-align: center;
    color: blue !important;
}

table  {
    text-align: center;
}

.cap-first {
    text-transform: capitalize;
}

.barchart canvas{
  width: 100px;
  height: 100px;
}


