// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.welcome-text { 
    text-align: center;
}

table  {
    text-align: center;
}
.cap-first { 
    text-transform: capitalize;
}

