// Body
$body-bg: #fff;


// Bootstrap Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$buttons: #00ebc7;
$primary: #fffffe;
$secondary: #ff5470;
$tertiary: #fde24f;

$table-color: #f2f4f6;
$card-color: #f2f4f6;
